{% extends 'base.html.twig' %}

{% block title %}Nouveau site{% endblock %}
{% block stylesheets %}
<style>
    .site-new-screen .form-card {
        max-width: none;
        width: 100%;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <span class="bc-item">AkiCloud</span>
    <span class="bc-sep"><i class="bi bi-chevron-right"></i></span>
    <a href="{{ path('app_site_index') }}" class="bc-item" style="text-decoration:none">Sites</a>
    <span class="bc-sep"><i class="bi bi-chevron-right"></i></span>
    <span class="bc-item current">Nouveau site</span>
{% endblock %}

{% block body %}
    <div class="site-new-screen">
    <a href="{{ path('app_site_index') }}" class="back-link">
        <i class="bi bi-arrow-left"></i>Retour aux sites
    </a>

    <div class="page-hd">
        <div>
            <div class="page-title">Créer un nouveau site</div>
            <div class="page-sub">Configuration rapide: nom, domaine et accès. Le reste est provisionné automatiquement.</div>
        </div>
    </div>

    {{ include('site/_quick_create_form.html.twig') }}
    </div>
{% endblock %}
