{% extends 'emails/layout.html.twig' %}

{% block head %}
    <h1 class="title">Réinitialisation du mot de passe</h1>
{% endblock %}

{% block body %}
    <p>Une demande de réinitialisation de mot de passe a été faite pour ton compte AkiCloud.</p>
    <p>
        <a href="{{ reset_url|default('#') }}" class="cta">Réinitialiser mon mot de passe</a>
    </p>
    <div class="note">
        Ce lien doit être utilisé rapidement et reste personnel.
    </div>
{% endblock %}

